.copyright {
    text-align: center
}

.title {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header ul li.loggedIn{
    display: none;
  }
  
  body.loggedIn .header ul li.loggedIn{
    display: inline-block;
  }
  
  body.loggedIn .header ul li.loggedOut{
    display: none;
  }

.formError{
display: none;
background-color: #c83737;
font-style: italic;
color: #fff;
padding: 10px 15px;
border-radius: 5px;
margin: 0 0 15px 0;
text-align: center;
border-color: #d87070;
border-width: 2px;
border-style: solid;
}

.highlight-clean {
    color:#313437;
    background-color:#fff;
    padding:50px 0;
  }
  
  .highlight-clean p {
    color:#7d8285;
  }
  
  .highlight-clean h2 {
    font-weight:bold;
    margin-bottom:25px;
    line-height:1.5;
    padding-top:0;
    margin-top:0;
    color:inherit;
  }
  
  .highlight-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 25px;
  }
  
  .highlight-clean .buttons {
    text-align:center;
  }
  
  .highlight-clean .buttons .btn {
    padding:16px 32px;
    margin:6px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    letter-spacing:0.4px;
    line-height:1;
    outline:none;
    background-color:#ddd;
  }
  
  .highlight-clean .buttons .btn:hover {
    opacity:1;
  }
  
  .highlight-clean .buttons .btn:active {
    transform:translateY(1px);
  }
  
  .highlight-clean .buttons .btn-primary {
    background-color:#055ada;
    color:#fff;
  }
  
  